body {
    color: var(--color-primary-dark);
    font-family: 'Press Start 2P', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.3;
    background-color: black;
    color: white;
    margin: 0;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1248px;
    margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.section {
    padding-bottom: 48px;
}

/* header */

.header {
    background-color: red;
    margin-bottom: 40px;
}

.header-title {
    margin-bottom: 0;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-img {
    flex-basis: 500px;
    height: 100px;
}

/* minecraft */

.minecraft-add {
    display: flex;
    padding-top: 40px;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.bigbro-img {
    width: 400px;
}

.minecraft-text {
    margin: 0;
    max-width: 700px;
}

.minecraft-gif {
    display: flex;
    align-items: center;
    justify-content: center;
}

.minecraft-gif img{
    width: 1100px;
    height: auto
}

/* титле */

.section-title {
    text-align: center;
    font-size: 34px;
    padding-bottom: 0px;
}


/* bigshot */

.bigshot-container {
    position: relative;
    padding-bottom: 64px;
}

.arrow-img {
    text-align: center;
}

.button-panic {
    background-color: transparent;
    cursor: pointer;
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../images/panic.gif);
    text-align: center;
    display: block;
    margin: 0 auto;
    border: none;
}


.dollar-img {
    position: absolute;
    top: 0px;
}

.dollar2-img {
    position: absolute;
    right: 0px;
    bottom: 100px;
}


/* buisness */

.buisness {
    background-color: red;
    margin-bottom: 64px;
}

.buisness-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.buisness-img {
    width: 250px;
    height: 90px;
}

.buisness-text {
    color: black;
}

/* formats */

.format-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;

}

.format-card {
    flex-basis: 250px;
    height: 250px;
    background-color: green;
    background-image: url(../images/Spamton.png);
}

.format-card {
}

/* карта */

.map {
    display: flex;
    justify-content: flex-end;
}

.arrow-right-img img {
    width: 150px;
    height: auto;
    margin-top: 30px
}

/* reviews */

.reviews {
    padding-top: 32px;
    margin: 0;
}

.review-true {
    margin: 0;
}

.review-title {
    display: flex;
    align-items: center;
}

/* carousel */

.carousel-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carousel-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

/* modal */

.modal-title {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.name-img {
    max-width: 400px;
    max-height: auto;
    border: 3px solid red;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.modal {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 880px;
    max-height: 880px;
    padding: 76px;
    background-color: black;
    color: white;
    border: 3px solid red;
    overflow-y: auto;
}

.card-block {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 30px;
}

.modal-btn-close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    scale: 0.5;
}

.form-input {
    border: 3px solid red;
}

.form-label {
    white-space: nowrap;
    width: 370px;
}


.cvv2 {
    width: 60px;
}

.form-date {
    width: 60px;
}

.button-submit {
font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    background: red;
    border: none;
    cursor: pointer;
    color: white;
    width: 100%;
    height: 40px;
    margin-top: 2%;
}
