body {
    color: var(--color-primary-dark);
    font-family: 'Press Start 2P', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.3;
    background-color: black;
    color: white;
    margin: 0;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1248px;
    margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.section {
    padding-bottom: 48px;
}

/* header */

.header {
    background-color: red;
    margin-bottom: 40px;
}

.header-title {
    margin-bottom: 0;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-img {
    flex-basis: 500px;
    height: 100px;
}

/* minecraft */

.minecraft-add {
    display: flex;
    padding-top: 40px;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.bigbro-img {
    width: 400px;
}

.minecraft-text {
    margin: 0;
    max-width: 700px;
}

.minecraft-gif {
    display: flex;
    align-items: center;
    justify-content: center;
}

.minecraft-gif img{
    width: 1100px;
    height: auto
}

/* титле */

.section-title {
    text-align: center;
    font-size: 34px;
    padding-bottom: 0px;
}


/* bigshot */

.bigshot-container {
    position: relative;
    padding-bottom: 64px;
}

.arrow-img {
    text-align: center;
}

.button-img {
    text-align: center;
}

.button-img img {
    width: 450px;
    height: 250px;
}

.dollar-img {
    position: absolute;
    top: 0px;
}

.dollar2-img {
    position: absolute;
    right: 0px;
    bottom: 100px;
}


/* buisness */

.buisness {
    background-color: red;
    margin-bottom: 64px;
}

.buisness-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.buisness-img {
    width: 250px;
    height: 90px;
}

.buisness-text {
    color: black;
}

/* formats */

.format-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;

}

.format-card {
    flex-basis: 250px;
    height: 250px;
    background-color: green;
    background-image: url(../images/Spamton.png);
}

.format-card {
}

/* карта */

.map {
    display: flex;
    justify-content: flex-end;
}

.arrow-right-img img {
    width: 150px;
    height: auto;
    margin-top: 30px
}

/* reviews */

.reviews {
    padding-top: 32px;
    margin: 0;
}

.review-true {
    margin: 0;
}

.review-title {
    display: flex;
    align-items: center;
}

/* carousel */

.carousel-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carousel-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}